*{
	margin: 0px;
	padding: 0px;
	font-family: "Times new Roman",sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
}
#container{
	width: 1280px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	padding: 30px;
}
#container .card{
	height: 300px;
	max-width: 350px;
	background-color: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
}
#container .card:hover{
	height: 400px;
}
#container .card .imagesBox{
	width: 305px;
	height: 305px;
	border-radius: 4px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1;
	left: 20px;
	top: -50px;
}
#container .card .imagesBox img{
	border-radius: 4px;
	margin: 2.5px;
	max-width: 100%;
}
#container .card .content{
	position: relative;
	visibility: hidden;
	text-align: center;
	margin-top: -140px;
	padding: 10px 15px;
	opacity: 0;
	transition: 0.3s ease-in-out;
	color: #111;
}
#container .card:hover .content{
	visibility: visible;
	margin-top: -40px;
	opacity: 1;
	transition-delay: 0.3 ease-in-out;
}